# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\My Drive\Drexel\Winter 2023 (202325)\SE 311\Homeworks\HW4\HW4_rmm429\LogServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
